:root {
    --offwhite: #eee;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: min(max(14px, 2.5vw), 18px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.5em;
}

body {
    background: var(--offwhite);
    height: 100vh; /* Necessary for flex w/ overflow */
    margin: 0; /* Necessary for flex w/ overflow */
}

.wrapper {
    height: 100%; /* Necessary for flex w/ overflow */
    display: flex; /* Necessary for flex w/ overflow */
    justify-content: center; /* Unnecessary(?) in all circumstances(?) */
}

.content {
    background: lightblue;
    padding: 1.5em;
    margin: auto; /* Necessary for flex w/ overflow */
    max-width: 64ch; /* Necessary for flex w/ overflow */
    border-radius: 0; /* No rounding here for mobile first */
}

.heading {
    color: var(--offwhite);
    background-color: rgb(48, 48, 80);
    padding: 1em;
    outline: 3px solid black;
}

.heading {
    text-align: center;
}

h2 {
    font-size: 1.25rem;
}

.description {
    margin: 1em 0;
}

code {
    background: var(--offwhite);
    padding: 0.1em 0.3em;
    font-size: 0.9rem;
}

label {
    font-size: 1.2rem;
}

input {
    /* margin-top: 0.5em; */
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.4em;
}

.inputLabel {
    padding-left: 0.3em;
}

.inputLabelAndButtons,
.outputLabelAndButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
button,
.allResults {
    padding: 0.5em;
}

button {
    font-size: 0.7em;
    margin-bottom: 0.75em;
    cursor: pointer;
}

.allResults {
    outline: 3px solid var(--offwhite);
}

.output {
    overflow-wrap: anywhere;
    margin-top: 0.5em;
    min-height: 1.4em;
    margin-bottom: 1em;
}

.outputLabel {
    padding: 0.3em;
    border: 3px solid var(--offwhite);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.recResLabelAndButton {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    border-radius: 0;
    border-top: 3px solid var(--offwhite);
}

.clearAll {
    background-color: red;
    color: white;
    border-color: white;
}

.recentResults {
    overflow-wrap: anywhere;
}

@media screen and (min-width: 450px) {
    .content {
        border-radius: 1.5em;
    }
}

@media screen and (min-width: 550px) {
    .line-break {
        display: none;
    }
}
