::root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    border-radius: 0.5em;
}

body {
    background: #eee;
    height: 100vh; /* Necessary for flex w/ overflow */
    margin: 0; /* Necessary for flex w/ overflow */
    font-family: 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-size: min(max(14px, 2.5vw), 18px);
}

.wrapper {
    height: 100%; /* Necessary for flex w/ overflow */
    display: flex; /* Necessary for flex w/ overflow */
    justify-content: center; /* Unnecessary(?) in all circumstances(?) */
}

.content {
    background: lightblue;
    padding: 1.5em;
    margin: auto; /* Necessary for flex w/ overflow */
    max-width: 64ch; /* Necessary for flex w/ overflow */
    border-radius: 2em;
}

h1 {
    text-align: center;
}

code {
    background: #eee;
    padding: 0.1em 0.3em;
}

input {
    margin-top: 0.5em;
    width: calc(100% - 1.1em);
    font-size: 1em;
    margin-bottom: 0.4em;
}

input,
button,
.allResults {
    padding: 0.5em;
}    

.outputLabelAndButtons {
    /* margin-top: -0.5em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

button {
    font-size: 0.75em;
    margin-bottom: 0.5em;
}

.output {
    overflow-wrap: break-word;
    margin-top: 0.5em;
    min-height: 1.4em;
    /* width: 95%; */
    margin-bottom: 1em;
}

.allResults {
    outline: 2px solid white;
}

#recentResults {
    overflow-wrap: break-word;
}
